<div class="container">
  <div class="flash-messages">
  <% if flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
  <h2 class="heading">New Blog Post</h2>
  
  <div>
    <%= render "shared/form", post: @post %>
  </div>

  <p class="go-back"> &larr; <%=link_to "Back to Users page", users_path %></p>
</div>


