/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.user-container {
  width: 100%;
  display: flex;
  border: 1px solid #d0d0d0;
  gap: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.user-photo {
  width: 150px;
  border: 1px solid #d0d0d0;
  padding: 3px;
}

.photo {
  width: 100%;
}

ul a,
.go-back a {
  color: #666;
}

.user-container a {
  flex: 1;
}

.user-post-count {
  text-align: right;
  margin-right: 30px;
}

.user-bio,
.post,
.post-container,
.comments-container {
  width: 100%;
  border: 1px solid #d0d0d0;
  padding: 10px;
  margin-bottom: 20px;
}

.button,
.heading {
  text-align: center;
}

.button a {
  display: inline-block;
  border: 1px solid #d0d0d0;
  padding: 8px 16px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  color: #666;
}

.new-post {
  text-align-last: left;
  margin-bottom: 10px;
}

.counters {
  padding-right: 2rem;
  text-align: right;
}

.comment-form,
.text-area,
.form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.text-area {
  display: block;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
}

.form-text {
  width: 100%;
  margin-bottom: 10px;
}

.form-text-area {
  height: 200px;
}

.comment-button {
  display: block;
  background-color: transparent;
  padding: 7px 15px;
  border: 1px solid #444;
  margin-left: auto;
  margin-right: auto;
}

.like {
  text-align: right;
  margin-right: 15px;
  background-color: transparent;
  width: fit-content;
  margin-left: auto;
}

.flash-messages {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.error {
  background-color: #f08080;
}

.notice {
  background-color: #4dc5ea;
}

.success {
  background-color: #6aeda1;
}

.login-container {
  border: 1px solid #666;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  width: 40%;
  margin: 3% auto;
  padding: 30px;
}

input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.action {
  width: 100%;
}

input[type=checkbox] {
  width: auto;
}

.shared {
  font-size: small;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  background-color: #ebeaea;
}

.navbar a {
  color: #666;
}

.navbar-user {
  display: flex;
  gap: 20px;
}

.user {
  font-size: small;
}
